.emailList {
  flex: 1;
  overflow: scroll;
}

.emailList__settings {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}
.emailList__sections {
  position: sticky;
  display: flex;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
}

.emailList::-webkit-scrollbar{
  display:none;

}

emailList{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.section {
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  color: grey;
  border-width: 0 !important;
}
.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}
.section:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}
.section > h4 {
  font-size: 14px;
  margin-left: 15px;
}
.emailList__List{
  padding-bottom: 20px;
}